$background-color1: #364150;
body {
  padding-bottom: 130px;
}
header {
  background-color: $background-color1;
  h1 { font-size: 22px; color: #FFF; text-align: center; margin-top: 5px; margin-bottom: 5px;}
}
main {
  background-color: white;
  #messages { list-style-type: none; margin: 0; padding: 0; }
  #messages li { padding: 5px 10px; }
  #messages li:nth-child(odd) { background: #eee; }


}
footer {
  padding-bottom: 20px;
  .row {margin-bottom: 0;}
  backgriund-color: #FFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  textarea.materialize-textarea {padding: 10px; color: #333;}
  .postContainer {
    padding-top:5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFF;
    border:1px solid #FFF;
  }
}
