body {
  padding-bottom: 140px;
}

header {
  background-color: #364150;
}

header h1 {
  font-size: 22px;
  color: #FFF;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

main {
  background-color: white;
}

main #messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main #messages li {
  padding: 5px 10px;
}

main #messages li:nth-child(odd) {
  background: #eee;
}

footer {
  padding-bottom: 40px;
  backgriund-color: #FFF;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .row {
  margin-bottom: 0;
}

footer textarea.materialize-textarea {
  padding: 10px;
  color: #333;
}

footer .postContainer {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FFF;
  border: 1px solid #FFF;
}
