header {
  background-color: #364150;
}

header h1 {
  font-size: 22px;
  color: #FFF;
  text-align: center;
}

main #messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main #messages li {
  padding: 5px 10px;
}

main #messages li:nth-child(odd) {
  background: #eee;
}

footer {
  background-color: #364150;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
}

footer textarea.materialize-textarea {
  padding: 1rem;
  color: #FFF;
}
